.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div {
  margin: 20px;
}

.td {
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-20-C {
  width: 20px;
  text-align: center;
}

.input-30-C {
  width: 30px;
  text-align: center;
}

.input-40-C {
  width: 40px;
  text-align: center;
}

.input-50-C {
  width: 50px;
  text-align: center;
}

.input-50-L {
  width: 50px;
  text-align: center;
}

.input-60-L {
  width: 60px;
}

.input-60-R {
  width: 60px;
  text-align: right;
}

.input-60-C {
  width: 60px;
  text-align: center;
}

.input-70-L {
  width: 70px;
}

.input-70-R {
  width: 70px;
  text-align: right;
}

.input-70-C {
  width: 70px;
  text-align: center;
}

.input-80-C {
  width: 80px;
  text-align: center;
}

.input-100-L {
  width: 100px;
}

.input-100-R {
  width: 100px;
  text-align: right;
}

.input-100-C {
  width: 100px;
  text-align: center;
}

.input-110-L {
  width: 110px;
}

.input-110-R {
  width: 110px;
  text-align: right;
}

.input-110-C {
  width: 110px;
  text-align: center;
}

.input-120-L {
  width: 120px;
}

.input-120-R {
  width: 120px;
  text-align: right;
}

.input-120-C {
  width: 120px;
  text-align: center;
}

.input-130-L {
  width: 130px;
}

.input-130-R {
  width: 130px;
  text-align: right;
}

.input-130-C {
  width: 130px;
  text-align: center;
}

.input-140-C {
  width: 140px;
  text-align: center;
}

.input-content {
  width: 150px;
}

.input-Nm {
  width: 300px;

}

.input-addr {
  width: 400px;

}

.red-text {
  color: red;
}
.lime-text {
  color: lime;
}

.right-align {
  float: right;
}


